{% load static %}
{% load active_link_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <meta name="keywords" content="CooLab" /> -->
        <link rel="stylesheet" type="text/css" href="{% static 'browser/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'browser/parse.css' %}">
        <title>PARSE</title>
    </head>
    <body style="overflow-y:scroll;">
    <div id="wrap">
        <div class="body-one u-f-aj">
            <p id="cool">
                <span data-text="P">P</span>
                <span data-text="A">A</span>
                <span data-text="R">R</span>
                <span data-text="S">S</span>
                <span data-text="E">E</span>
            </p>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item {% active_link 'browser-home' 'active' strict=True %}" ><a class="nav-link" href="{% url 'browser-home' %}"><img src="/static/logo.png" style="padding-bottom:6px;height:23px;">&nbsp;Home</a></li>
            <li class="nav-item {% active_link 'browser-data' 'active' %}" ><a class="nav-link" href="{% url 'browser-data' %}">Data</a></li>
            <li class="nav-item {% active_link 'browser-find' 'active' %}" ><a class="nav-link" href="{% url 'browser-find' %}">Find LD SNPs</a></li>
            <li class="nav-item {% active_link 'browser-browser' 'active' %}" ><a class="nav-link" href="{% url 'browser-browser' %}">Visualization</a></li>
            <li class="nav-item {% active_link 'browser-contact' 'active' %}" ><a class="nav-link" href="{% url 'browser-contact' %}">Contact</a></li>
        </ul>
        <div class="top-lines">
            <hr style="height:1px;border:none;border-top:2px solid #0064a4;" />
		    <hr style="height:1px;border:none;border-top:2px solid #ffd200;" />
        </div>
        
        <div id="content">
			
                {% block content %}{% endblock %}       

        </div>
        <div class="bottom-lines">
            <hr style="height:1px;border:none;border-top:2px solid #0064a4;" />
		    <hr style="height:1px;border:none;border-top:2px solid #ffd200;" />
        </div>
    </div>
    <br/>
    <p class="text" style="text-align:center;font-size:16px">
        <strong>Contact:</strong> jason.j.liu@yale.edu &nbsp;&&nbsp; zhang.jing@uci.edu</p>
    <br/>
    </body>
</html>
