{% extends "browser/base.html" %}
{% block content %}
<div class="contact">
    <i style="color:#0064a4;font-weight:bold;align:left;font-size:20px;">Contact:</i>
    <br/>
    <br/>
    <p>PARSE is under constant maintenance and improvement. Any questions about the usage, comments or suggestions are welcome.</p>
    <br/>
    <p>Please contact us: Jason Liu (<a href="mailto:jason.j.liu@yale.edu">jason.j.liu@yale.edu</a>) or Jing Zhang (<a href="mailto: zhang.jing@uci.edu">zhang.jing@uci.edu</a>).</p>
    <br/>
    <br/>
    <i style="color:#0064a4;font-weight:bold;align:left;font-size:20px;">Citations:</i>
   <!-- <hr style="height:10px;border:none;border-top:2px solid #0064a4;" />
    <hr style="height:10px;border:none;border-top:2px solid #ffd200;" /> -->
    <br/>
    <br/>
    <p>[1]<i>xxxxxxxx</i></p>
    <br/>
    <p>[2]<i>xxxxxxxx</i></p>
</div>
{% endblock content %}
